
.todo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:lightblue;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

.todo-completed{
    background-color: lightgray;
    opacity: 0.7;
}

.todo-completed p{
    text-decoration: line-through;

}

.toggle-toDo, .deleteTodo{
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.toggle-toDo:hover, .deleteTodo:hover{
    transform: scale(1.5);
}